.project-experience {
    position: relative;
    top: 250px;
    text-align: center;
    background-color: rgb(24, 24, 24); /* Assuming the background is black */
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    color: #fff; /* White text */
    margin: 0;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #fff; /* White text */
    margin: 0;
  }
  
  .highlight {
    color: #6ca7eb; /* Highlight color */
  }
  